.main-canary {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canary-infobox {
    margin-top: 0vh;
    width: 35vw;
    height: 10vh;
}

.canary-infobox iframe {
    width: 100%;
    height: 100%;
}

.canary-data {
    font-size: 3vw;
    color: #C9184A;
}