.socials-infobox {
    display: flex;
    flex-direction: column;
}

.socials-listcontainer {
    width: auto;
    height: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials-item {
    background-color: #FF4D6D;
    width: 30vw;
    height: 10vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2vh;
}

.socials-logo {
    width: 8vh;
    height: 8vh;
    border-radius: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-color: #FC8EAC;
}

.socials-logo img {
    height: 100%;
    width: 100%;
}

.socials-item-innerbox {
    background-color: #FC8EAC;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 8vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socials-item-innerbox p {
    font-size: 2vw;
    margin-left: 1vh;
    margin-right: 1vh;
    color: #C9184A;
}

.username-socials-text {
    color: #C9184A;
    font-size: 2vw;
    text-shadow: 0.25vh 0.25vh #FF4D6D;
}
